menu "Modbus <-#-> IEC 101/104 Gateway Configuration"

    config DBGU_PRINTF
        bool "Enable/Disable active prinf mode"
        default y
        help
                Use to debug info include/exclude.

endmenu