# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_IEC_MASTER_TIMEOUT_MS_RESPOND     CONFIG_FIEC_MASTER_TIMEOUT_MS_RESPOND
CONFIG_IEC_MASTER_DELAY_MS_CONVERT       CONFIG_FIEC_MASTER_DELAY_MS_CONVERT
CONFIG_IEC_QUEUE_LENGTH                  CONFIG_FIEC_QUEUE_LENGTH
CONFIG_IEC_SERIAL_TASK_STACK_SIZE        CONFIG_FIEC_PORT_TASK_STACK_SIZE
CONFIG_IEC_SERIAL_BUF_SIZE               CONFIG_FIEC_SERIAL_BUF_SIZE
CONFIG_IEC_SERIAL_TASK_PRIO              CONFIG_FIEC_PORT_TASK_PRIO
CONFIG_IEC_CONTROLLER_SLAVE_ID_SUPPORT   CONFIG_FIEC_CONTROLLER_SLAVE_ID_SUPPORT
CONFIG_IEC_CONTROLLER_SLAVE_ID           CONFIG_FIEC_CONTROLLER_SLAVE_ID
CONFIG_IEC_CONTROLLER_NOTIFY_TIMEOUT     CONFIG_FIEC_CONTROLLER_NOTIFY_TIMEOUT
CONFIG_IEC_CONTROLLER_NOTIFY_QUEUE_SIZE  CONFIG_FIEC_CONTROLLER_NOTIFY_QUEUE_SIZE
CONFIG_IEC_CONTROLLER_STACK_SIZE         CONFIG_FIEC_CONTROLLER_STACK_SIZE
CONFIG_IEC_EVENT_QUEUE_TIMEOUT           CONFIG_FIEC_EVENT_QUEUE_TIMEOUT
CONFIG_IEC_TIMER_PORT_ENABLED            CONFIG_FIEC_TIMER_PORT_ENABLED
CONFIG_IEC_TIMER_GROUP                   CONFIG_FIEC_TIMER_GROUP
CONFIG_IEC_TIMER_INDEX                   CONFIG_FIEC_TIMER_INDEX
